*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
img {
    width: 50%;
    z-index: -100;
}
.container {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 0.97; */
    /* background: white; */
}
.container-svg {
    /* width: 700px; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 90%;
    height: 500px;
    opacity: .99 !important;
    /* border-style: dashed; */

    background: white;
}
.btn-container {
    height: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: 'absolute';
    opacity: 0.9;
    background: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: 'translate(-50%, -50%)';
}
.txtloc = {
       position: 'absolute';
       color: blue;
       font-size:20vw;
       left: 100px;
 }
.instructions{
    color: yellow;
    /* text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black; */
    margin-left: auto;
    margin-right: auto;
    width:60%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-style: solid;
    border-radius: 0px 100px / 120px;
    background-color: #0275d8;
    opacity: 0.9;
}
.navBar{
      border-radius: 50% 20% / 10% 40%;
}
label, input {
    display: inline-block;
}

label {
    margin-bottom: 20px;
    /* margin-left: 20px; */
    margin-right: 50px;
}
.Welcome{

    text-shadow: -3px 0 #0275d8, 0 3px #0275d8, 3px 0 #0275d8, 0 -3px #0275d8;
    color: white;

}
.savedMemes {
    margin-left: auto;
    display: block;
    margin-right: auto;
    border-style: solid;
    border-radius: 10% / 50%;
    background-color: #0275d8;

    /* opacity: 0.97; */
    /* background: white; */
}
.loading{
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align:center;
      /* background-color: #0275d8;
      border-style: solid;
      border-radius: 10% / 50%; */
}
